<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="/">
      Density Altitude
    </a>
  
    <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
      <span class="navbar-toggler-icon"></span>
    </button>
  
  
    <div class="collapse navbar-collapse show" [ngClass]="{ 'show': navbarOpen }">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/readfirst">Read before Use</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/developers">Software Engineer for Hire</a>
        </li>
      </ul>
    </div>
  </nav>