<h1>It is crucial that you understand the following before using this
app for swooping!</h1>
<div class="weather-card col-xs-8 offset-xs-2 col-sm-8 offset-sm-2">
    <ol>
        <li>Dry air is denser than moist air.</li>
        <li>Air density does not always increase at an even rate with an increase
            in altitude. It is possible to have a "normal" DA between 0-200 ft, and a
            much higher DA at the top and middle of your turn.</li>
        <li><strong>High</strong> Density Altitude means <strong>less dense</strong> air.</li>
        <li><strong>Low</strong> Density Altitude means <strong>denser</strong> air.</li>
        <li>A negative density altitude refers to air that is denser than air 
            <strong>under standard conditions</strong> at sea level. 
            <a href="https://en.wikipedia.org/wiki/International_Standard_Atmosphere">
            Here's the model used to calculate Density Altitude.</a></li>
    </ol>
</div>